<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Zoo App</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/zoo.css">

        <!--FONTS-->
        <link href=' http://fonts.googleapis.com/css?family=Rubik' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-8 main-col-left">
                    {% include 'navbar_template.html' %}
                    <div class="welcome-headers">
                        <div id="welcome-text">Welcome To<br>Spain's Top Zoo</div>
                        <div id="sub-welcome-text">Introducing a zoo like no other. This zoo will make <br> your animal dreams come to life.</div>
                        <a id="sign-up-link-text" href="#">SIGN UP TO VISIT TODAY!</a>
                    </div>
                </div>
                <div class="col-4 px-lg-0 main-col-right">
                    <img class="giraffe-img" src="https://source.unsplash.com/UqB0TfIdqNE" alt="giraffe">
                    <div class="sign-button-container">
                        <button type="button" class="btn btn-primary btn-lg sign-in-button">SIGN IN</button>
                        <button type="button" class="btn btn-primary btn-lg sign-up-button">SIGN UP</button>
                    </div>
                    
                    <!--
                        <section class="content">
                        {% block content %}{% endblock %}
                    </section>
                    -->
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    </body>
</html>
